<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Vue 测试实例 - 菜鸟教程(runoob.com)</title>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
</head>
<body>
<div id="app">
  <table>
    <tr v-for="site in sites">
		<td @click="link($event)">{{ site.id }}</td><td>{{ site.name }}</td><td>{{ site.num }}</td><td>{{ site.sex }}</td>
    </tr>
  </table>
</div>
 
<script>
new Vue({
  el: '#app',
  data: {
    sites: [
      {id:01, name: '小米' ,num: '中国',sex: '女'},
     {id:02, name: '斋藤' ,num: '日本',sex: '男'},
     {id:03, name: '帕广' ,num: '缅甸',sex: '人妖'}
    ]
  },
	methods: {
    link(e){
	alert(e.currentTarget.innerHTML );
    }
  },
})
</script>
</body>
</html>